@model Core_Proje.Areas.Writer.Models.UserEditViewModel
@{
    ViewData["Title"] = "PasswordChange";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}


<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Şifre Değiştime</h4>

            <form class="forms-sample" method="post" enctype="multipart/form-data">                

                <div class="form-group">
                    <label for="exampleInputPassword4">Sifre</label>
                    <input type="password" asp-for="Password" class="form-control" id="exampleInputName1" placeholder="Sifreniz">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword4">Sifre Tekrar</label>
                    <input type="password" asp-for="PasswordConfirm" class="form-control" id="exampleInputName1" placeholder="Sifreniz">
                </div>             


                <button type="submit" class="btn btn-primary mr-2">Guncelle</button>
                <button class="btn btn-light">Iptal</button>
            </form>
        </div>
    </div>
</div>

