 @using EntityLayer.Concrete
@model List<Service>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">

            <h4 class="card-title">Hizmet Listesi Tablosu</h4>

            <!-- Light table -->
            <div class="table-responsive">
                <table class="table ">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Baslik</th>
                            <th>Sil</th>
                            <th>Duzenle</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.ServiceID
                                </td>

                                <td>
                                    @item.Title
                                </td>


                                <td><a href="/Service/DeleteService/@item.ServiceID" class="btn btn-outline-danger">Sil</a></td>
                                <td><a href="/Service/EditService/@item.ServiceID" class="btn btn-outline-success">Guncelle</a></td>
                            </tr>
                        }

                    </tbody>
                </table>

                <a href="/Service/AddService" class="btn btn-primary">Yeni Hizmet Ekle</a>
            </div>
        </div>
    </div>
</div>



