@model Core_Proje.Areas.Writer.Models.UserEditViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">

   
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Profil Bilgilerini Duzenle</h4>
            @if (ViewBag.v != null)
            {
                <div class="alert alert-danger" role="alert">
                    @ViewBag.v
                </div>
            }

            <form class="forms-sample" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="exampleInputName1">Adiniz</label>
                    <input type="text" asp-for="Name" class="form-control" id="exampleInputName1" placeholder="Ad">
                </div>

                <div class="form-group">
                    <label for="exampleInputName1">Soyadiniz</label>
                    <input type="text" asp-for="Surname" class="form-control" id="exampleInputName1" placeholder="Soyad">
                </div>

                <div class="form-group">
                    <label>Resim Yukle </label>
                    <input type="file" asp-for="Picture">
                </div>


                <button type="submit" class="btn btn-primary mr-2">Guncelle</button>
                <button class="btn btn-light">Iptal</button>
            </form>
        </div>
    </div>
</div>

